
.contain {
    width: 31.25rem;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 750px;
    padding: 2.594rem;
    margin: 0 auto;
}
.form_header {
    position: relative;
    line-height: .69rem;
}
h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.3rem 0 3.4rem;
}
.form_header .brother_link {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    color: #00b38a;
}
input::-webkit-input-placeholder{
	color: #cccccc;
}
.input_label {
    position: relative;
    z-index: 0
}
.input_label:first-child {
    z-index: 2;
}
.input_text {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: .9rem 0;
    font-size: 1.5rem;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E8E9EB;
}
.input_label+.input_label {
    margin-top: .13rem;
}
.input_label.btn_group {
    margin-top: 4.2rem;
}
.input_label .submit_btn {
    width: 100%;
    height: 3.65rem;
    border-radius: 3px;
    background-color: #00b38a;
    color: #fff;
    font-size: 1.65rem;
    border: 0;
}
.form_container .form_footer {
    position: absolute;
    bottom: 2.83rem;
}
.form_container .form_footer .signin_type_btn {
    color: #00b38a;
    font-size: 1.4rem;
}
.area_code_list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff
}
.area_code {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 6.69rem;
    padding: .27rem .4rem .27rem 0;
    font-size: 1.65rem;
    line-height: 3rem;
}
.area_code:after {
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .3rem .28rem 0;
    margin-left: .49rem;
    border-color: #ccc transparent transparent;
}
.area_code_list dl {
    line-height: 36px;
    cursor: default
}
.area_code_list+input{
	padding-left: 7rem;
}
.area_code_list dt {
    padding-left: .43rem;
    line-height: .51rem;
    color: #666;
    background-color: #F9F9FA;
    font-size: .35rem
}

.area_code_list dd {
    margin: 0;
    padding-left: .37rem;
    line-height: 1.2rem;
    color: #333;
    font-size: .43rem;
    box-shadow: inset 0 -1px 0 0 rgba(232,233,235,.5)
}
.register_agreement {  
	color: #999;
    font-size: 1.37rem;
    margin-top: 1.53rem;
}
.register_agreement a{
	color: #666;
}
.area_code_list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff
}

.area_code_list dl {
    line-height: 36px;
    cursor: default
}

.area_code_list dt {
    padding-left: 1.43rem;
    line-height: 1.51rem;
    color: #666;
    background-color: #F9F9FA;
    font-size: 1.35rem
}

.area_code_list dd {
    margin: 0;
    padding-left: 1.37rem;
    line-height: 4.2rem;
    color: #333;
    font-size: 1.43rem;
    box-shadow: inset 0 -1px 0 0 rgba(232,233,235,.5)
}
.area_code_list .tips {
    color: #999;
    font-size: .32rem;
    padding: .8rem .13rem;
    text-align: center
}
.area_code_list .tips a {
    color: #00b38a
}
